<div class="home_page" ng-controller="HomeController">

    <div class="container">
        <div class="row intro_paragraph">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                    <p>
                        Welcome to the Founders Market Mobile App Ideas competition for students! This competition is run for our users anywhere in Europe and Africa.
                    </p>
                </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                <p><label class="label">Please select your area of residence:</label></p>

                <div class="input_fd_cont">
                    <p class="alert alert-danger text-left" ng-show="countryError == true">Please select an option.</p>
                    <p class="alert alert-danger text-left" ng-show="serverError == true">While saving the country, some error occured at server side. Please try again later.</p>
                    <select name="area_residence" ng-model="area_residence" ng-change="optionChange()">
                        <option value="">Select your area of residence</option>
                        <option ng-repeat="option in countryList" value="{{option.key}}">{{option.country}}</option>
                    </select>
                </div>

                <div class="input_fd_cont">
                    <button type="button" class="next_step_button" ng-click="nextStep()">Next step!</button>
                </div>
            </div>
        </div>

    </div>

</div>