<div class="personal_info_page" ng-controller="ContactPageController">

    <div class="container">
        <div class="row intro_paragraph">
            <div class="col-xs-12 col-md-12">
                <h4>2015 Founders Market Mobile App Ideas Competition</h4>
                <p>
                    Please note that you will need to first create your Founders Market account before your application can be considered!
                </p>
                <p>
                    If you do not have a Founders Market account, you can create one here: <a href="http://foundersmarketapp.com/register" target="_blank">sign up</a>.
                </p>
            </div>
        </div>


        <div class="row">
                <div class="col-xs-12 col-md-12">
                    <h2>Your Personal Contact Info:</h2>
                    <div class="row" ng-form = "personal_details">
                        <div class="col-xs-12 col-md-4">
                            <p class="alert alert-danger" ng-show="emailError">Please provide your email address in correct format.</p>
                            <div class="input_fd_cont">
                                <input type="email" name="email" ng-model="email" value="*Email address"
                                       ng-focus="fillTextBox('email')" ng-blur="fillTextBox('email')" required>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-4">
                            <p class="alert alert-danger" ng-show="confirmEmailError">Confirm your email address correctly.</p>
                            <div class="input_fd_cont">
                                <input type="email" name="confirm_email" ng-model="confirm_email" value="*Confirm Email address"
                                       ng-focus="fillTextBox('confirm_email')" ng-blur="fillTextBox('confirm_email')" required>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-4">
                            <p class="alert alert-danger" ng-show="phoneNumberError">Please provide your phone number.</p>
                            <div class="input_fd_cont">
                                <input type="text" name="phone_number" ng-model="phone_number" value="*Phone number"
                                       ng-focus="fillTextBox('phone_number')" ng-blur="fillTextBox('phone_number')" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-md-offset-3">
                            <div class="input_fd_cont">
                                <button type="button" class="next_step_button" ng-click="nextStep()">Next step!</button>
                            </div>
                        </div>
                    </div>


                </div>
        </div>

    </div>

</div>
