<div class="idea" ng-controller="TeamController">

    <div class="container">
        <div class="row intro_paragraph">
            <div class="col-xs-12 col-md-12">
                <h4>Your Idea!</h4>
                <p>
                    Due to the demand, application will now close on the 25<sup>th</sup> of October 2015, and winners will be announced on the 2<sup>nd</sup> of November 2015.
                </p>
                <p>
                    You are reminded that after your successful application, it is up to you to <strong>grab our attention</strong>. Out of the applications that we will receive, we will pick the winners from  the top 80 applicants that grab our attention from:
                </p>
                <ul>
                    <li>Liking our Facebook page, following us on Instagram and Twitter.</li>
                    <li>Taking a screenshot of your Founders Market profile and tagging us on Facebook, Instagram and mentioning us on Twitter. You can use 'Awesome Screenshot' for your PC/Laptop, or use your mobile phones internal screenshot functionality.</li>
                </ul>
            </div>
        </div>


        <div class="row" ng-form="idea_team_form">
            <div class="col-xs-12 col-md-12">
                <h2>Your Idea:</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <p class="alert alert-danger" ng-show="ideaTitleError">Please provide a title of your idea.</p>
                        <div class="input_fd_cont">
                            <input type="text" name="idea_title" ng-model="idea_title" placeholder="*Name of Idea" required
                                    ng-keyup="ideaTitleError=false">
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <p class="alert alert-danger" ng-show="totalTeamCountError">Please specify number of team members.</p>
                        <div class="input_fd_cont">
                            <input type="number" name="total_team_member" ng-model="total_team_member" placeholder="*Number of people involved"
                                   ng-keyup="numberOfTeamMembers()" required max="9">
                        </div>
                    </div>

                </div>

                <div class="row">

                        <div class="col-xs-12 col-md-4" ng-repeat="team_email in team_email_address track by $index" ng-form="team_email_form">
                            <p class="alert alert-danger" ng-show="showTeamEmailError(team_email_form.team_email_address,'email')">Please provide unique and correct email address.</p>
                            <div class="input_fd_cont">
                                <input type="email" name="team_email_address" ng-model="team_email_address[$index]" placeholder="*Email address of others Involved" required>
                            </div>
                        </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-6 col-md-offset-3">
                        <div class="input_fd_cont">
                            <button type="button" class="next_step_button" ng-click="nextStep()">Next step!</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>