<div class="idea" ng-controller="TeamController">

    <div class="container">
        <div class="row intro_paragraph">
            <div class="col-xs-12 col-md-12">
                <h4>Your Idea!</h4>
                <p>
                    Due to the demand, application will now close on the 25<sup>th</sup> of October 2015, and winners will be announced on the 2<sup>nd</sup> of November 2015.
                </p>
                <p>
                    You are reminded that after your successful application, it is up to you to <strong>grab our attention</strong>. Out of the applications that we will receive, we will pick the winners from  the top 80 applicants that grab our attention from:
                </p>
                <ul>
                    <li>Liking our Facebook page, following us on Instagram and Twitter.</li>
                    <li>Taking a screenshot of your Founders Market profile and tagging us on Facebook, Instagram and mentioning us on Twitter. You can use 'Awesome Screenshot' for your PC/Laptop, or use your mobile phones internal screenshot functionality.</li>
                </ul>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h2>Your Idea:</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="input_fd_cont">
                            <input type="text" name="idea_title" ng-model="idea_title" value="*Name of Idea"
                                    ng-focus="fillTextBox('idea_title')" ng-blur="fillTextBox('idea_title')">
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <div class="input_fd_cont">
                            <input type="text" name="total_team_member" ng-model="total_team_member" value="*Number of people involved"
                                   ng-keyup="numberOfTeamMembers()" ng-focus="fillTextBox('total_team_member')" ng-blur="fillTextBox('total_team_member')">
                        </div>
                    </div>

                </div>

                <div class="row">

                        <div class="col-xs-12 col-md-4" ng-repeat="textbox in team_email_address">
                            <div class="input_fd_cont">
                                <input type="text" name="team_email_address[]" ng-model="textbox.text" placeholder="*Email address of others Involved"
                                       ng-focus="fillTextBox('textbox.text')" ng-blur="fillTextBox('textbox.text')">
                            </div>
                        </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-6 col-md-offset-3">
                        <div class="input_fd_cont">
                            <button type="button" class="next_step_button">Next step!</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>